In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("abalone_dataset.csv")
df.head()

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [3]:
Sex=df['Sex']
Sex.head()

0    M
1    M
2    F
3    M
4    I
Name: Sex, dtype: object

In [4]:
print(df.shape)
print(df.shape[0])
print(df.shape[1])

(4177, 9)
4177
9

In [6]:
print(df['Length'].sum(axis=0))

2188.715

In [7]:
df.head(10)

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
5,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8
6,F,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.330,20
7,F,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.260,16
8,M,0.475,0.370,0.125,0.5095,0.2165,0.1125,0.165,9
9,F,0.550,0.440,0.150,0.8945,0.3145,0.1510,0.320,19

##### Filter Sex and Ring for height higher than 0.1 & Rings >11

In [32]:
df_filter1=df[(df['Height']>0.1) & (df['Rings']>11)][['Sex','Rings']]
print(df_filter1.head(50))
df_filter1.shape[0]

    Sex  Rings
6     F     20
7     F     16
9     F     19
10    F     14
15    M     12
22    F     12
27    M     12
28    M     15
31    F     15
32    M     18
33    F     19
34    F     13
36    F     16
41    F     14
66    F     12
67    F     13
70    M     13
72    F     20
74    F     13
75    F     15
79    F     14
81    M     12
82    F     16
83    M     21
84    M     14
85    F     12
86    M     13
89    F     12
90    M     15
91    M     12
92    M     13
94    M     15
95    M     14
101   M     15
102   M     15
104   M     12
105   F     12
122   F     14
128   M     19
129   M     18
130   M     17
142   M     16
150   M     15
154   F     12
156   F     13
157   M     16
158   F     13
159   F     13
160   M     13
161   F     13

947

##### Filter 1st 20 instances of sex and ring for height higher than 0.1 & Rings >11

In [33]:
df_filter2=df[(df['Height']>0.1) & (df['Rings']>11)][['Sex','Rings']].head(50)
print(df_filter2)
df_filter2.shape[0]

    Sex  Rings
6     F     20
7     F     16
9     F     19
10    F     14
15    M     12
22    F     12
27    M     12
28    M     15
31    F     15
32    M     18
33    F     19
34    F     13
36    F     16
41    F     14
66    F     12
67    F     13
70    M     13
72    F     20
74    F     13
75    F     15
79    F     14
81    M     12
82    F     16
83    M     21
84    M     14
85    F     12
86    M     13
89    F     12
90    M     15
91    M     12
92    M     13
94    M     15
95    M     14
101   M     15
102   M     15
104   M     12
105   F     12
122   F     14
128   M     19
129   M     18
130   M     17
142   M     16
150   M     15
154   F     12
156   F     13
157   M     16
158   F     13
159   F     13
160   M     13
161   F     13

50

#### Filter Diameter and ring for weight <0.5 or Shucked weight > 0.2

In [34]:
df_filter3=df[(df['Height']>0.1) | (df['Rings']>11)][['Diameter','Rings']]
print(df_filter3.head(50))
df_filter3.shape[0]

    Diameter  Rings
0      0.365     15
2      0.420      9
3      0.365     10
6      0.415     20
7      0.425     16
8      0.370      9
9      0.440     19
10     0.380     14
11     0.350     10
12     0.380     11
13     0.405     10
15     0.400     12
22     0.440     12
23     0.415      9
24     0.480     10
25     0.440     11
26     0.450     11
27     0.445     12
28     0.475     15
29     0.425     11
30     0.470     10
31     0.560     15
32     0.525     18
33     0.550     19
34     0.550     13
35     0.355      8
36     0.475     16
37     0.355      8
38     0.445     11
40     0.335      9
41     0.425     14
46     0.370      9
47     0.375      7
49     0.425      9
50     0.410      8
52     0.360     10
53     0.360     10
55     0.400      8
56     0.350      8
57     0.385      8
59     0.400      7
60     0.345      7
61     0.405      9
62     0.410     10
64     0.400      8
65     0.355      8
66     0.440     12
67     0.495     13
68     0.390     10
70     0.425     13

3416